[Desktop Entry]
Name=Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/usr/local/bin/archdev-start-hyprland
Type=Application
DesktopNames=Hyprland
